/* ########## basic page settings ##########  */
body				{padding:0px; background-image:linear-gradient(to right, rgba(0,100,100,0.1), rgba(0,100,100,0.6)); color:#333333; font-family:sans-serif; overflow:auto;-webkit-text-size-adjust: none;}
*:focus 			{outline: none;}
.page				{padding: 0px; margin:0px; display:none;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}

.header				{position:fixed; top: 0px;  left: 0px; padding:0px; margin:0px; background:#333333; height:55px; width:100%; z-index:100}
.header	h1			{position:fixed; top:14px;  left:50px; padding:0px; margin:0px; color:#eeeeee; font-weight:normal; font-size:22px;}
.header	a			{position:fixed; padding:7px; margin:0px; color:#eeeeee; font-weight:normal; font-size:16px; border: 1px solid #eeeeee; border-radius:5px;}
.header	a.button0	{display:block; top:14px; left: 15px; text-decoration:none; padding:0px; margin:0px; color:#eeeeee; font-weight:normal; font-size:22px; border:none}
.header	a.button1	{display:block; top:10px; right:10px; text-decoration:none;}
.header	a.button2	{display:block; top:10px; right:70px; text-decoration:none;}
.header	a:active	{color:#333333; background:#eeeeee}

.content			{padding: 0px; margin:0px; position:absolute; top:55px; left:0px; width:100%; color:#333333;; z-index:10;}
.content h2			{padding: 0px; margin:10px 25px 10px 25px; font-size:20px; font-weight:bold;}
.content p 			{padding: 0px; margin:10px 25px 10px 25px; font-size:14px; font-weight:normal; line-height: 20px}
.content li			{padding: 0px 0px 5px 0px; margin: 0px; font-size:14px; font-weight:normal;}
.content a			{color:#333333}

.content button 		{padding:15px 10px 15px 10px; margin:0px; color:#eeeeee; text-align:center; background:#333333; border:1px solid #eeeeee; cursor:pointer; border-radius:5px; font-size:16px; font-weight:normal;}
.content button.blarge 	{margin:10px auto; display:block; width:90%;}
.content button.bsmall 	{margin:10px; display:inline-block; width:41%;}
.content button.blite 	{color:#333333; background:#eeeeee; border:1px solid #333333;}

.content ul.radiolist					{padding:0px; margin:10px 5% 10px 5%; list-style-type:none;}
.content ul.radiolist li				{padding:0px; margin:0px; background:#ffffff; border-bottom: 1px solid #999999; border-left: 1px solid #333333; border-right: 1px solid #333333; text-align:left;}
.content ul.radiolist li input			{padding:1px; margin:10px 20px 10px 20px; width:22px; height:22px; border:1px solid #333333}
.content ul.radiolist li label			{padding:6px 0px 6px 0px; margin:0px; position:relative; top:-4px; display:inline-block; width:75%; font-weight:normal; font-size:16px; text-align:left}
.content ul.radiolist li:first-child 	{border-top-left-radius:5px; border-top-right-radius:5px; border-top: 1px solid #333333;}
.content ul.radiolist li:last-child 	{border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-bottom: 1px solid #333333;}
.content ul.radiolist li:hover 			{background:#eeeeee;}

/* to switch off safari ios style of form elements use:  -webkit-appearance:none */
.content fieldset						{padding:0px; margin:10px 5% 10px 5%; font-size:16px; font-weight: normal; display:block; color:#333333; text-align:left; border:1px solid #333333; border-radius:5px;}
.content legend                         {padding:0px 10px 0px 10px; margin:0px; text-align:center}
.content label							{padding:0px; margin:10px 25px 10px 25px; font-size:16px; font-weight:normal; display:block; text-align:center}
.content label.cblabel					{padding:6px 0px 6px 0px; margin:0px; position:relative; top:-5px;  display:inline-block; width:auto; font-weight:normal; font-size:16px;}
.content select							{padding:10px 0px 10px 30%; margin:0px 0px 10px 0px; color:#eeeeee; width:90%; background:#333333; border:1px solid #eeeeee; border-radius:5px; font-size:16px;}
.content input[type="text"]				{padding:10px; margin:10px auto; display:block; width:85%;  border:1px solid #333333; border-radius:5px; font-size:16px;}
.content input[type="checkbox"]			{padding: 1px; margin:10px 20px 10px 20px; width:22px; height:22px; border:1px solid #333333}

.content table 							{border:1px solid #333333; margin:10px 5% 10px 5%; width:90%; font-size:16px; border-radius:5px}
.content table th						{padding: 10px; background: #333333; color:#eeeeee}
.content table td						{padding: 10px; text-align:center;}
.content table tr:nth-child(odd) 		{background-color: #eeeeee;}


/* ########## footer settings ##########  */
p.footer			{padding:10px 0px 10px 0px; margin:0px; color:#333333; font-weight:normal; font-size:14px; text-align:center;}
p.footer a			{color:#333333}

/* ########## info settings ##########  */
#info .content h2	{padding: 10px 30px 10px 30px; margin: 0px; font-weight:bold; font-size:20px;}
#info .content p	{padding:  5px 30px 10px 30px; margin: 0px; text-align:justify}
#info .content ul	{padding:  5px 30px 10px 30px; margin: 0px 0px 0px 5%}
#info .content li	{text-align:left}

/* Larger than 800px  */
@media (min-width: 800px) {
.content		{width:800px; left:50%; margin-left:-400px; margin-top:20px;}
}